/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Body Background */
body {
  background: linear-gradient(135deg, #00aaff, #004e92);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  backdrop-filter: blur(90%);
  -webkit-backdrop-filter: blur(90%);
  height: 100%;
}

/* Animation for Gradient Background */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Main App Container */
.App {
  text-align: center;
  color: white;
  background-image: url('https://images.pexels.com/photos/159438/android-tv-game-controller-game-controller-video-game-controller-android-game-controller-159438.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 10px; /* Ensure there's space at the bottom */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background: rgba(0, 0, 0, 0.6);
   max-height: 80px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-grow: 1;
  text-align: left;
}

.telegram-icon {
  color: rgb(55, 55, 241);
  background: none;
  
  
  border-radius: 50%;
  text-decoration: none;
  font-size: 28px;
  transition: transform 0.3s ease;
}

.telegram-icon:hover {
  transform: scale(1.1);
}

/* Main Header Section */
.main-header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20%;
  align-items: center;
  height: 60vh;
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  background-size: cover;
  padding-top: 20%;
  
  padding-bottom: 20%;
  background-position: center;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 20px;
  max-width: 600px;
}

.headline {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff7b00, #ff0a75);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.description {
  font-size: 1.4rem;
  color: #ddd;
  line-height: 1.8;
  font-weight: 300;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

/* Content Section (Text and Image) */
.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
}

.content-text {
  max-width: 50%;
  padding: 20px;
  margin-right: 20px;
}

.text-bg {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 8px;
}

.content-text h3 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.gamep {
  font-size: 1.2rem;
  color: #ddd;
  line-height: 1.6;
  font-weight: 300;
  margin-top: 10px;
}

.content-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-width: 45%;
}

/* Category Section */
.category-section {
  padding: 50px 20px;
  background: rgba(0, 0, 0, 0.7);
}

.category-title {
  font-size: 1.4rem;
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #ff7b00, #ff0a75);
  -webkit-background-clip: text;
  color: transparent;
}

/* Category Cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  padding: 0 20px;
}

.category-card {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-size: cover;
  background-position: center;
  background: rgba(0, 0, 0, 0.4); /* Dark overlay for readability */
  border: 2px solid rgba(255, 255, 255, 0.2); /* Border for better contrast */
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.category-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 1rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Games Section */
.games-section {
  padding: 50px 20px;
  background-color: rgba(0, 0, 0, 0.6);
}

.games-title {
  font-size: 3rem;
  margin-bottom: 40px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #ff7b00, #ff0a75);
  -webkit-background-clip: text;
  color: transparent;
}

/* Gradient Text Class */
.gradient-text {
  background: linear-gradient(90deg, #ff7b00, #ff0a75);
  -webkit-background-clip: text;
  color: transparent;
}

/* Responsive Styles */
/* Responsive Styles for small devices */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background: rgba(0, 0, 0, 0.6);
     max-height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
   

  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display 3 cards per row on medium screens */
    gap: 30px;
    padding: 0 20px;
  }

  .category-card {
    position: relative;
    height: 180px; /* Increase height of the card */
    width: 100%;  /* Full width of the column */
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-size: cover;
    background-position: center;
    background: rgba(0, 0, 0, 0.4); /* Dark overlay for readability */
    border: 2px solid rgba(255, 255, 255, 0.2); /* Border for better contrast */
  }

  .category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }


  .category-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  }

  /* Title inside the card */
  .card-title {
    font-size: 1.4rem;
    color: white;
  }
  .navbar-title {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 10px;
  }

  .telegram-icon {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-header {
    height: 55vh;
    padding: 30%;
  }

  .headline {
    font-size: 1rem;
  }

}

@media (max-width: 480px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background: rgba(0, 0, 0, 0.6);
     max-height: 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  .navbar-title {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 10px;
  }

  .telegram-icon {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-header {
    height: 55vh;
    padding: 40%;
  }

  .headline {
    font-size: 0.9rem; 
    width: 90vw;
  }

  .description {
    font-size: 1rem;
    margin-top: 10px;
    width: 90vw;
  }

  .content-section {
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
  }

  .content-text {
    max-width: 100%;
    margin-right: 0;
    padding: 20px;
    margin-bottom: 20px;
  }

  .content-image img {
    max-width: 100%;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display 3 cards per row on medium screens */
    gap: 30px;
    padding: 0 20px;
  }

  .category-card {
    position: relative;
    max-height: 80px; /* Increase height of the card */
    width: 100%;  /* Full width of the column */
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-size: cover;
    background-position: center;
    background: rgba(0, 0, 0, 0.4); /* Dark overlay for readability */
    border: 2px solid rgba(255, 255, 255, 0.2); /* Border for better contrast */
  }

  .category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }


  .category-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  }

  /* Title inside the card */
  .card-title {
    font-size: 0.8rem;
    color: white;
  }

  .games-title {
    font-size: 2rem;
  }

  .category-card:hover {
    transform: translateY(0px);
  }

  .category-title {
    font-size: 1.8rem;
  }

  .category-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .gradient-text {
    background: linear-gradient(90deg, #ff7b00, #ff0a75);
    -webkit-background-clip: text;
    color: transparent;
  }
}




/* Basic card styling */
.youtube-card-section {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping */
  justify-content: center;
  padding: 20px;
  gap: 20px; /* Space between cards */
}

/* Card styling */
.youtube-card {
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid gray;

  background-color: none;
  box-shadow: 0 4px 10px rgba(55, 157, 131, 0.6);
  flex: 1 1 calc(50% - 40px); /* Two cards inline for large screens */
  margin: 10px;
}

/* Background overlay for the body */
section {
  background-color: rgba(0, 0, 0, 0.5); /* 90% black transparency */
  color: white;
}

/* Video container (removed blur) */
.youtube-video-container {
  position: relative;
  overflow: hidden;
}

.youtube-video {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 10px;
  /* Removed blur effect */
}

/* Gradient Text */
.gradient-text {
  background: linear-gradient(45deg, #ff6b6b, #f8b400);
  -webkit-background-clip: text;
  color: transparent;
}

/* Title and description with gradient background */
.youtube-card-title {
  padding: 15px;
  background: linear-gradient(45deg, #230c767b, #9f057956); /* Gradient background */
  text-align: center;
}

.youtube-card-title h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}

.youtube-card-description {
  padding: 20px;
  background: linear-gradient(45deg, #42b611bc, #1c10195c);
  color: white;
  font-size: 1rem;
  text-align: center;
  border-radius: 0 0 10px 10px;
  font-style: italic;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .youtube-card {
    flex: 1 1 100%; /* Stack the cards vertically on medium devices */
  }

  .youtube-video {
    height: 250px;
  }

  .youtube-card-title h3 {
    font-size: 1.4rem;
  }

  .youtube-card-description p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .youtube-video {
    height: 200px;
  }

  .youtube-card-title h3 {
    font-size: 1.2rem;
  }

  .youtube-card-description p {
    font-size: 0.8rem;
  }
}
